@import '../../style/colors';
@import '../../style/mixins';

.language-selector {
    height: 36px;
    width: 63px;
    background-color:#0a0a0a;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #757575;

    .left {
        background-image: url('../icons/hu.svg');
        margin-left: -3px
    }
    
    .right {
        background-image: url('../icons/gb.svg');
        margin-left: 26px;
    }
    
}

.slider {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    transition: all 0.1s ease-in;
    border: 2px solid #757575;
    flex-shrink: 0;
    box-shadow: 0 0 10px 3px #000000;
}