@import '../../style/colors';
@import '../../style/mixins';

.card-container {
    list-style-type: none;
    padding: 0 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .member-card {
        margin: 20px;
        padding: 30px 20px 20px;
        text-align: center;
        color: $card-text;
        background: radial-gradient(circle, #343434 20%, $input-bg 100%);
        border-radius: 10px;
        border-left: 1px solid #6f6f6f;
        border-top: 1px solid #6f6f6f;
        box-shadow: 3px 3px 6px #000;

        flex: 0 0 250px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .profile-img {
            img {
                width: 110px;
                height: 110px;
                border: 6px solid $label-bg;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        p {
            margin: 0;
        }
        .card-name {
            padding: 8px 0;
            letter-spacing: 2px;
            word-spacing: 4px;
            font-size: 22px;
        }
        .card-line {
            width: 20%;
            margin: 6px auto 10px;
            background-color: $card-text;
        }
        button {
            @include buttonReset;
            margin: 20px 10px 12px;
            padding: 10px;
            background-color: #a9a0a0;
            border-radius: 6px;
            transition: background-color 1s;
            &:hover {
                background-color: #dadada;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .active-member {
        background: radial-gradient(circle, #79003c 20%, #101010 100%);
    }
    @media screen and (max-width: 1039px) {
        padding: 0 100px;
        justify-content: space-around;
    }
    @media screen and (max-width: 996px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 770px) {
        padding: 0 44px;
        .member-card {
            margin: 20px 50px;
            flex: auto;

            flex-direction: row;
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 670px) {
        padding: 0;
        .member-card {
            margin: 20px;
        }
        .member-content {
            margin: 8px;
        }
        .member-content button {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 400px) {
        .member-card {
            flex-direction: column;
        }
    }
}
