body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #0B3954;
}

.app {
	height: 100vh;

	display: grid;
	grid-template-rows: 1fr 6fr;
}

.app > header {
	width: 100vw;

	display: flex;
	justify-content: center;
    align-items: center;

	/* gradient */
	background: rgb(218,77,81);
	background: -moz-linear-gradient(63deg, rgba(218,77,81,1) 0%, rgba(230,71,147,1) 100%);
	background: -webkit-linear-gradient(63deg, rgba(218,77,81,1) 0%, rgba(230,71,147,1) 100%);
	background: linear-gradient(63deg, rgba(218,77,81,1) 0%, rgba(230,71,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da4d51",endColorstr="#e64793",GradientType=1);
}

.app > header h1 {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
}

main .buddha {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	z-index: -1;
}

.login-btn {
	position: absolute;
    top: 55%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.logout-btn {
	position: absolute;
	top: 1%;
    right: 2%;
}



/* --- Home.js --- */
.user-search {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
main span {font-size: 20px;}
