.color-test {
	height: 100vh;
	display: grid;
	grid-template-rows: 2fr 10fr 1fr;
}

.color-test header {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 10vw 2fr 4fr 3fr 1fr 10vw;
	align-items: center;
}

.page-title {
	grid-column: 2;
	font-size: 1.2em;
    height: fit-content;
    margin: auto 0;
}

.search-bar-grid {
	display: grid;
	width: 80%;
    height: 100%;
    align-content: space-around;
    grid-template: 1fr 1fr 1fr / 1fr 9fr;
}

.search-bar-grid div {
	grid-row: 2;
	height: 100%;
	width: 100%;
	border-radius: 7px 0 0 7px;
	background: #000;
	cursor: pointer;
}

.search-bar-grid input {
	/* reset */
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #333;
	
	/* normal */
	grid-row: 2;
	width: 100%;
	border-radius: 0 7px 7px 0;
}

nav {
	display: grid;
	height: 100%;
	grid-template: 1fr / repeat(3, 1fr);
	align-items: center;
	text-align: center;
}

nav a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	height: fit-content;
	padding: 10px 24px;
}


/* ========== copied code for dark/light mode toggle ========== */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #000;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
/* ========== end of copied toggle button code ========== */


