@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@import './style/colors';
@import './style/mixins';

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;

    @include maxQ(500px) {
        font-size: 12px;
    }

    @include maxQ(870px) {
        font-size: 15px;
    }

    @include maxQ(1300px) {
        font-size: 18px;
    }
}

body {
    font-family: RobotoRegular;
    margin: 0;
}
main {
    min-height: calc(100vh - 93px);
    margin-top: $header-height;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $main-bg;
    @include minQ(768px) {
        margin-left: 110px;
    }

    &>* {
        max-width: 2000px;
        margin-right: auto;
        margin-left: auto;
    }
}