@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@import './style/colors';
@import './style/mixins';

* {
    box-sizing: border-box;
}
body {
    font-family: RobotoRegular;
    margin: 0;
}
main {
    min-height: calc(100vh - 93px);
    margin-top: $header-height;
    padding: 50px 0;
    background-color: $main-bg;
    @include minQ(768px) {
        margin-left: 110px;
    }
}