@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@import './style/colors';
@import './style/mixins';

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;

    @include maxQ(500px) {
        font-size: 12px;
    }

    @include maxQ(870px) {
        font-size: 15px;
    }

    @include maxQ(1300px) {
        font-size: 18px;
    }
}

body {
    font-family: RobotoRegular;
    margin: 0;
}
main {
    min-height: calc(100vh - 93px);
    margin-top: $header-height;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $main-bg;
    @include minQ(768px) {
        margin-left: 110px;
    }

    &>* {
        max-width: 2000px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* --- custom checkbox --- */
input[type="checkbox"]:not(.custom) {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;

    &:checked+label { background-image: url(./components/icons/checkbox-checked.svg); }

    &+label {
        background-image: url(./components/icons/checkbox-unchecked.svg);
        user-select: none;
        padding-left: 20px;
        height: 15px;
        display: inline-block;
        line-height: 15px;
        background-repeat: no-repeat;
        vertical-align: middle;
        cursor: pointer;
    }
}