node_modules

#client
client/node_modules
client/build
client/src/version.js
client/src/version.ts
client/public/images
client/src/types/*.common.d.ts

#server
server/node_modules
server/app
server/.env.local
server/.env.atlas
server/.env.live
server/logs
server/testDataScripts/logs
server/src/types/*.common.d.ts
server/build

#test
test/node_modules
test/logs
