node_modules

#client
client/node_modules
client/build
client/src/version.js
client/src/version.ts
client/public/images

#server
server/node_modules
server/app
server/.env.local
server/.env.atlas
server/.env.live
server/logs
server/testDataScripts/logs