@import '../../style/mixins';
@import '../../style/colors';

.comingSoon {
    color: $searchField-color;
    background-color: $darkgray;
    margin: auto;
    width: fit-content;
    padding: 15px 18px;
    border-radius: 5px;
    font-size: 150%;

    @include maxQ(350px) {
        font-size: 140%;
    }
}
.align {
    padding: 80px 0;
}
