@import '../../../style/colors';
@import '../../../style/mixins';

.transactions-filter-form {
    width: 90%;
    color: white;
    margin: auto;

    .deleted-filter {
      width: 25%;
      margin-left: 0;
    }
}
