.grid-container {
    display: grid;
    grid-template-areas:    "header header"
                            "navbar content";
    grid-template-rows: 93px minmax(calc(100vh - 93px), auto);
    grid-template-columns: 90px;

    @include mQ(750px) {
        grid-template-areas:    "header"
                                "content";
        grid-template-columns: repeat(1, 100vw);
    }
}