$primary: #d84c51; // header left
// $medium-ruby: #a4446d; //header middle
// $sugar-plum: #8f4178; // header right
$dark: #2d1c27; // ex. login Buddha logo
// $dark-purple: #3C1928; //maybe button
$darkgray: #484848;
$lightgray: #eeefee;
$white: #fff;

$main-bg:#262626;
$searchField-color: #e8e3e3;
$sideBar-bg: #484848;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;
$sideBarHover-bg: #343434;

$menuHover-bg: #252525;

// Form
$h2-fontColor: #d6d6d6;
$label-bg: #cb4a58;
$input-bg: #4d4c4c;
$input-border: 1px solid #969494;
$formContainer-bg: #170912;
$modal-bg: #4a4a4a;
$visibility-disabled: #b9a4a4;