$primary: #d84c51; // header left
$medium-ruby: #a4446d; //header middle
$secondary: #8f4178; // header right
$gradient-background: linear-gradient(90deg, #d84c51 0%, #8f4178 100%);
$dark: #2d1c27; // ex. login Buddha logo
// $dark-purple: #3C1928; //maybe button
$darkgray: #484848;
$lightgray: #eeefee;
$white: #fff;

$main-bg:#262626;
$searchField-color: #e8e3e3;
$sideBar-bg: #484848;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;
$sideBarHover-bg: #343434;
$sideBar-border:#c9c9c9;
$footer-bg: #272427;
$navBarActive: #242424;
// $menuHover-bg: #252525;

// Form
$h2-fontColor: #d6d6d6;
$label-bg: #cb4a58;
$input-bg: #4d4c4c;
$input-border: 1px solid #969494;
$formContainer-bg: #170912;
$modal-bg: #4a4a4a;
$disabled: #fafafa73;

// Alert icons
$error: #d84c51;
$warning: #ffa544;
$info: #28a745;
$alertBackground: #626262;

// Bootstrap colors:
$_bs-primary: #167bff;
$_bs-success: #28a745;
$_bs-danger: #dd3545;
$_bs-warning: #fbc10a;
$_bs-info: #24a2b8;
$_bs-bg-dark: #343940;
$_bs-table-border: #454d55;

// Members cards
$card-text: #b8b8b8;
$active-member: #8a0045;

// Finance admin
$active-amount: #3e444a;
$future-amount: rgba(22, 255, 233, .2)