$header-height: 93px;
$header-height-start: 104px;
$navbar-width: 110px;

@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin buttonReset {
    background-color: transparent;
    border: none;
    padding: 0;
}
@mixin customFocus {
    &:focus {
        outline: 0 none;
        fill: #fff;
    }
}
@mixin navbarItemHeight {
    height: $navbar-width;
}
@mixin centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin noScroll {
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
@mixin svgChanging {
    fill: $sideBarHover-iconColor;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
@mixin hoveredElement {
    &:hover {
        background-color: $sideBarHover-bg;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
        font-size: 13px;
    }
    &:hover svg {
        @include svgChanging;
    }
}
@mixin hoveredMenu {
    &:hover {
        background-color: $sideBarHover-bg;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        @include svgChanging;
    }
}

@mixin maxQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
@mixin minQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}
@mixin orientation($direction) {
    @media (orientation: landscape) {
        @content;
    }
}