@import '../../style/colors';
@import '../../style/mixins';

.registration {
	min-height: calc(104px + 100vh);
	background-color: $main-bg;
	padding-bottom: 50px;
	color: $white;
	header {
		width: 100%;
		height: $header-height-start;

		@include centerElement;

		/* gradient */
		background: rgb(218,77,81);
		background: $gradient-background;
	}
	h1 {
		margin: 0;
		color: #fff;
		font-size: 26px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
	div.container {
		max-width: 800px;
	}
	form {
		width: 90%;
		margin: auto;
		@include maxQ(415px) {
			width: 100%;
		}
	}
	.display-label {
		display: block;
		margin: 16px 0 0;
        background: $label-bg;
        border: 1px solid #969494;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
	}
	.display-title {
        margin: 0;
		padding: 7px;
    }
    .display-input {
        background: $input-bg;
		border: 1px solid #969494;
		border-radius: 0;
        border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		color: $white;
		&:focus {
			background: $input-bg;
			color: inherit;
		}
	}
	.regForm-btns {
		margin: 40px 0;
		display: flex;
		justify-content: center;
	}
	.btn {
		height: 54px;
		width: 154px;
		letter-spacing: 2px;
		font-size: 20px;
	}
	.reg-btn {
		margin-left: 58px;
	}
	.error {
		display: block;
		min-height: 24px;
		letter-spacing: 1px;
		font-weight: 400;
		color: $error;
	}
	// .reg-btn {
	// 	background-color: $primary;
	// 	border-color: $primary;
	// 	margin-left: 58px;
	// 	&:hover {
	// 		background-color: lighten($primary, 4);
	// 	}
	// }
}

// .registration-main {
// 	background-color: $main-bg;
// 	.buddha {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		height: 50vh;
// 		z-index: 1;
// 		fill:#15040c;
// 	}
	// .registration-btn {
	// 	position: absolute;
	// 	top: 55%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	background: #fff;
	// 	border-radius: 5px;
	// 	z-index: 2;
	// 	width: 150px;
	// 	display: flex;
	// 	justify-content: center;

	// 	button {
	// 		background: none;
	// 		color: inherit;
	// 		border: none;
	// 		padding: 0;
	// 		font: inherit;
	// 		cursor: pointer;
	// 		outline: inherit;
	// 		display: flex;
	// 		align-items: center;
	// 		padding: 0 15px 0 0;
	// 		span {
	// 			font-size: 20px;
	// 		}
	// 	}
	// 	img {
	// 		width: 40px;
	// 		padding: 10px;
	// 		box-sizing: content-box;
	// 	}
	// }
// }
