@import '../../../../style/colors';
@import '../../../../style/mixins';

.payment-label {
    color: #fff;
    font-size: 16px;
}
.error {
    display: block;
    min-height: 24px;
    letter-spacing: 1px;
    color: $error;
    font-weight: 400;
}