@import '../../../style/colors';
@import '../../../style/mixins';

.form-title {
    color: $h2-fontColor;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 24px;
}
div.container {
    width: 90%;
    max-width: 1100px;
    background-color: $formContainer-bg;
    border: 1px solid #969494;
    border-radius: 10px;
    padding-bottom: 24px;
    margin-bottom: 30px;
    @include maxQ(520px) {
        width: 100%;
        background-color: transparent;
        border: none;
    }
}

// div.container {
//     margin-top: 50px;
//     width: 90%;
//     background-color: #272326;
//     border: 1px solid #969494;
//     border-radius: 10px;

//     .form-container {
//         color: #d6d6d6;
//         padding: 40px;

//         #grid > div {
//             display: grid;
//             grid-template-columns: 1fr 1fr;

//             @include mQ(990px) {
//                 grid-template-columns: 1fr;
//             }
//         }
//     }
// }