@import '../../style/colors';
@import '../../style/mixins';

.toast {
    border: 1px solid #6a6a6a;
    border-radius: none;
    position: fixed;
    top: 118px;
    right: 19px;
    z-index: 10;
    .alert-icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    .error {
        fill: $error;
    }
    .warning {
        fill: $warning;
    }
    .info {
        fill: $info;
    }
    .toast-header {
        background-color: $alertBackground;
        color: $white;
        button.close {
            color: $white;
        }
        strong {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .toast-body {
        background-color: #2e2e2e;
        color: $white;
    }
}
