@import '../../style/colors';
@import '../../style/mixins';

.toast {
    border: 1px solid #6a6a6a !important;
    border-radius: none !important;
    box-shadow: 1px 1px $darkgray !important;
    position: fixed;
    top: 118px;
    right: 19px;
    z-index: 10;

    .toast-header {
        color: $white;
        &.ERROR { background: $error; }
        &.WARNING { background: $warning; }
        &.INFO { background: $info; }

        button.close { color: $white; }

        strong {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }

        .alert-icon {
            fill: $white;
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }

    .toast-body {
        background-color: #2e2e2e;
        color: $white;
    }
}
