@import '../../../../style/colors';
@import '../../../../style/mixins';

.role-dialog {
    .msg {
        color: $disabled;
    }
    .email {
        color: $disabled;
        background-color: #6d6d6d;
        padding: 2px 8px 6px;
        border-radius: 8px;
    }
    .form-check {
        @include minQ(400px) {
            margin-left: 50px;
        }
    }
    .form-check-input {
        margin-top: .5rem;
    }
    .form-check-label {
        color: $white;
        min-width: 180px;
    }
    svg {
        width: 1rem;
        margin: 0 13px;
        fill: $white;
    }

    .level-of-study, .level-of-study:focus {
        color: $white;
        background: none;
        border: none;
        cursor: pointer;
        box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
}