@import '../../../../style/colors';
@import '../../../../style/mixins';

.add-payment-dialog {
    .payment-label {
        color: $white;
        font-size: 16px;
        margin-bottom: 0;
    }
    .payment-label:last-of-type {
        padding-bottom: 10px;
    }
    .error {
        display: block;
        height: 30px;
        letter-spacing: 1px;
        color: $error;
        font-weight: 400;
    }
    .date-picker-finance {
        @include centerElement;
        flex-direction: column;
        filter: invert(0.86);
        .react-datepicker__month-select option, .react-datepicker__year-select option {
            color: $lightgray;
            background-color: #3b3b3b;
        }
    }
}