@import '../../../style/colors';
@import '../../../style/mixins';

div form {
    width: 90%;
    margin: 15px auto;

    .input-group {
        color: $white;
        border: 1px solid #969494;
        border-radius: 0;
    }
    .input-group-label {
        background: $label-bg;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        display: grid;
        grid-template-columns: 1fr repeat(3, 55px);

        .form-label {
            .dropdown-arrow {
                display: none;
            }
        }
    }
    .input-group-field {
        background: $input-bg;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    label.form-label {
        padding: 10px;
        margin: 0;
    }
    .form-button {
        @include buttonReset;
        padding: 0 18px;
        border-left: 1px solid gray;
        color: inherit;
        &:disabled {
            opacity: 0.5;
        }
    }
    .form-icon {
        fill: $white;
        width: 18px;
        height: 18px;
    }
    .form-control { height: 46px; }
}