@import '../../style/colors';
@import '../../style/mixins';

.header {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 93px;
    z-index: 10;
    background: $gradient-background;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    color: $white;
    letter-spacing: 2px;

    .row {
        align-items: center;
        width: 93%;
        height: 100%;
        justify-content: space-between;

        @include maxQ(767px) {
            justify-content: center;
        }

        .avatar-container {
            align-items: center;

            img {
                margin: 0 10px 0 0;
                height: 70px;
                object-fit: cover;
                border: 2px solid $white;

                @include maxQ (767px) {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin: auto;
                }
            }

            .avatar-name {
                margin: 20px 0;
                font-size: 26px;
                font-weight: 100;
                color: $white;
            }
        }

        .page-name {
            width: fit-content;
            justify-content: flex-end;
            font-size: 30px;
            font-weight: 100;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .search-icon {
            border: none;
            margin-right: 10px;
            padding: 15px 30px;
            box-shadow: none;

            &:hover { background: none; }
            &:focus:active { box-shadow: none !important; }
            &:active { background: none !important; }

            @include maxQ(767px) {
                position: absolute;
                left: 0;
            }

            svg {
                width: 34px;
                height: 34px;
                fill: #fff;
            }
        }
        .header-shim {
            z-index: 9;
            height: $header-height;
            position: absolute;
            @include maxQ(420px) {
                width: 100vw;
                right: -100vw;
            }
            @include minQ(768px) { display: none; }
            width: 320px;
            right: -320px;
            background-color: $sideBar-bg;

            transition: right .5s;
            &.slideIn {
                right: 0;
            }
        }

        .burger-lines {
            @include buttonReset;
            width: $navbar-width;
            height: $header-height;
            outline: none;
            right: 0;
            z-index: 10;
            cursor: default;

            @include centerElement;
            .icons {
                width: 36px;
                height: 36px;
                fill: lightgray;
                position: absolute;
            }
            .hambi {
                opacity: 1;
                transition: opacity 0.5s;
                &.hide-hambi {
                    opacity: 0;
                }
            }
            .x {
                opacity: 0;
                transition: opacity 0.5s;
                &.show-x {
                    opacity: 1;
                }
            }
        }

        .slider {
            @include minQ(768px) { display: none; }
            @include maxQ(420px) {
                width: 100vw;
                right: -100vw;
            }
            width: 320px;
            max-height: calc(100vh - 93px);
            overflow-y: scroll;
            background-color: transparent;
            top: $header-height;
            right: -320px;

            transition: right .5s;

            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            &.slideIn {
                right: 0;
            }
        }
    }
}
