@import '../../style/colors';

.member-page-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
        color: $white;
        font-size: 1.2em;
        height: fit-content;
    }

    p, button { margin: 10px; }
}