@import '../../style/colors';

.member-page-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        width: 90%;
        text-align: center;
        color: $white;
        font-size: 1.2em;
    }

    p, button {
        margin: 10px;
    }

    h2 {
        width: 90%;
        text-align: center;
        color: $lightgray;
        font-size: 1.4em;
        font-weight: 400;
    }
}