@import '../../style/colors';
@import '../../style/mixins';

.fn-admin-table {
    .trans {
        padding: 0;
        .trans-btn {
            display: inline-block;
            width: 50%;
        }
    }
    .trans-btn {
        font-size: inherit;
        width: 100%;
        height: 49px;
        display: flex;
        align-items: center;
        border-radius: 0;

        svg {
            width: 1rem;
            margin-right: 10px;
            fill: #fff;
        }
    }

    thead {
        .delete-column-header {
            width: 1%;
        }
    }

    tbody {
        .finance-row {
            background-color: $active-amount;

            &.deleted {
                &, &:hover {
                    filter: invert(.1);
                    color: $disabled
                }
            }
            &.future { 
                .date-cell { color: $_bs-success; }
            }
        }

        .delete-transaction{
            width: .9rem;
            fill: $white;
        }

        td.delete-cell {
            padding: 0;
        }
    }
}
