
.comingSoon {
    color: #e8e3e3;
    background-color: #484848;
    margin: auto;
    width: fit-content;
    padding: 15px 18px;
    border-radius: 5px;
    font-size: 150%;
}
.align {
    padding: 80px;
}
