@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

.footer {
    grid-area: header;

    background: linear-gradient(90deg, rgba(216,76,81,1) 0%, rgba(143,65,120,1) 100%);
    font-size: calc(20px + 1%);
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}