.header {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 93px;
    z-index: 10;
    background: linear-gradient(90deg, rgba(216,76,81,1) 0%, rgba(143,65,120,1) 100%);
    color: #fff;
    letter-spacing: 2px;

    .row {
        align-items: center;
        width: 96%;
        height: 100%;
        justify-content: space-between;

        .avatar-container {
            align-items: center;
    
            img {
                margin: 0 10px 0 0;
                height: 70px;
                border: 2px solid #fff;
            }
    
            .avatar-name {
                margin: 20px 0;
                font-size: 1.4em;
                font-weight: 100;
            }
        }

        .page-name {
            font-size: 1.4em;
            font-weight: 100;
        }

        .mobile-header-items {
            .search-icon {
                padding: 5px;
                border: none;

                &:hover {
                    svg {
                        fill: #000;
                    }
                }
    
                svg {
                    width: 34px;
                height: 34px;
                fill: #fff;
                }
            }
        }
    }
}