@font-face {
    font-family: GEInspiraRegular;
    src: url('../fonts/GE Inspira Regular/GE Inspira Regular.ttf');
}
//   font-family: GEInspiraRegular;

$searchField-color: #e8e3e3;
$sideBar-backgroundColor: #484848;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;
$sideBarHover-backgroundColor: #343434;

$menuHover-backgroundColor: #252525;

@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin buttonReset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
@mixin customFocus {
    &:focus {
        outline: 0 none;
        fill: aqua;
    }
}
@mixin navbarItemHeight {
    height: 90px;
}
@mixin centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin svgChanging {
    fill: $sideBarHover-iconColor;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
@mixin hoveredElement {
    &:hover {
        background-color: $sideBarHover-backgroundColor;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        @include svgChanging;
    }
}
@mixin hoveredMenu {
    &:hover {
        background-color: $menuHover-backgroundColor;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        @include svgChanging;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

* {
    box-sizing: border-box;
}
body {font-family: GEInspiraRegular;}
.grid-container {
    display: grid;
    grid-template-areas:    "header header"
                            "navbar content";
    grid-template-rows: 93px minmax(calc(100vh - 93px), auto);
    grid-template-columns: 90px;

    @include mQ(750px) {
        grid-template-areas:    "header"
                                "content";
        grid-template-columns: repeat(1, 100vw);
    }
}

.header {
    grid-area: header;

    background: linear-gradient(90deg, rgba(216,76,81,1) 0%, rgba(143,65,120,1) 100%);
    font-size: calc(20px + 1%);
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger-lines, .mobile-search, .slider {
        display: none;
    }

    @include mQ(750px) {
        justify-content: space-between;
        .mobile-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            position: relative;
        }
        .mobile-search {
            width: 70px;
            height: 90px;
            @include centerElement;
            .mobile-search-icon {
                width: 34px;
                height: 34px;
            }
        }
        .burger-lines {
            width: 80px;
            height: 90px;
            z-index: 10;
            @include centerElement;
            flex-direction: column;
            &:hover div {
                background-color: #fff;
            }
            div {
                width: 30px;
                height: 1%;
                margin: 4px 0;
                background-color: #c9c9c9;
                border-radius: 10px;

                // transform-origin: 4px 0px;
                transform-origin: center center;
                transition: opacity 0.2s ease,
                            transform 0.5s;
            }
            input {
                display: block;
                width: 80px;
                height: 90px;
                margin: 0;
                cursor: pointer;
                opacity: 0;
                z-index: 2;

                position: absolute;
                right: 0;
                &:checked ~ div:nth-last-child(3) {
                    -webkit-transform: rotate(45deg) translate(8px, 4px);
                    -moz-transform: rotate(45deg) translate(8px, 4px);
                    -o-transform: rotate(45deg) translate(8px, 4px);
                    transform: rotate(45deg) translate(8px, 4px);
                }
                &:checked ~ div:nth-last-child(2) {
                    opacity: 0;
                }
                &:checked ~ div:last-child {
                    -webkit-transform: rotate(-45deg) translate(8px, -4px);
                    -moz-transform: rotate(-45deg) translate(8px, -4px);
                    -o-transform: rotate(-45deg) translate(8px, -4px);
                    transform: rotate(-45deg) translate(8px, -4px);
                }
            }
        }
        .slider {
            display: block;
            width: 300px;
            background-color: $sideBar-backgroundColor;
            padding-top: 450px;
            border-bottom-left-radius: 5px;

            position: absolute;
            right: -300px;
            transition: 0.6s;
            ul {
                @include resetList;
            }
            li {
                cursor: pointer;
                border-top: 1px solid #5a5a5a;

                @include navbarItemHeight;
                @include centerElement;
                @include hoveredMenu;
                .active {
                    background-color: $menuHover-backgroundColor;
                    .title {
                        color: $sideBarHover-iconColor;
                    }
                    svg {
                        @include svgChanging;
                    }
                }
            }
            .link {
                text-decoration: none;
                width: 100%;
                @include navbarItemHeight;

                display:flex;
                align-items: center;
                justify-content: space-around;
            }
            .menu-icon {
                width: 36px;
                height: 36px;
                margin-left: 34px;

                @include centerElement;
            }
            svg {
                fill: $sideBar-iconColor;
                width: 32px;
                height: 32px;

                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                transition: 0.2s;
            }
            .title {
                padding-top: 5px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $sideBar-iconColor;
                width: 100px;
                text-align: left;
            }
            button {
                margin: auto 0;

                justify-content: center;

                @include buttonReset;
                @include navbarItemHeight;
                border-top: 1px solid #5a5a5a;
                @include hoveredMenu;
            }
        }
        .slideIn { right: 0; }
    }
    p, .page-name {
        margin: 0;
        width: 150px;
        color: #fff;
        text-align: center;
        @include mQ(750px) {
            font-size: 16px;
            letter-spacing: 1px;
            width: 100px;
        }
    }
    .page-name {
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 2px;
        @include mQ(470px) {
            display: none;
        }
    }
    .avatar {
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        @include mQ(750px) {
            width: 46px;
            height: 46px;
        }
    }
    .search-field {
        border-bottom: 1px solid $searchField-color;

        display: flex;
        align-items: center;

        @include mQ(750px) {
            display: none;
        }
    }
    input {
        max-width: 28vw;
        height: 30px;
        font-size: 20px;
        color: $searchField-color;
        background: transparent;
        border:none;
        &:focus{
            outline: 0 none;
        }
        &::placeholder {
            color: inherit;
            font-size: 20px;
            font-family: GEInspiraRegular;
        }
    }
    button {
        width: 48px;
        height: 48px;
        fill: $sideBar-iconColor;
        @include buttonReset;
        svg {
            width: 36px;
            height: 36px;
        }
        &:hover {
            fill: $sideBarHover-iconColor;
        }
        @include customFocus;
    }
}

.navbar {
    grid-area: navbar;

    background-color: $sideBar-backgroundColor;

    display: flex;
    flex-direction: column;

    @include mQ(750px) {
        display: none;
    }

    ul {
        @include resetList;
        margin-bottom: 90px;
    }
    li {
        cursor: pointer;
        border-bottom: 1px solid #5a5a5a;

        @include navbarItemHeight;
        @include centerElement;
        @include hoveredElement;
        .active {
            background-color: $sideBarHover-backgroundColor;
            border-bottom: 1px solid #5a5a5a;
            .title {
                color: $sideBarHover-iconColor;
            }
            svg {
                @include svgChanging;
            }
        }
    }
    .link {
        text-decoration: none;
        width: 100%;

        @include navbarItemHeight;
        @include centerElement;
        flex-direction: column;

        &:focus {
            outline: none;
            -webkit-box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
            -moz-box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
            box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
        }
    }
    .menu-icon {
        width: 36px;
        height: 36px;

        @include centerElement;
    }
    svg {
        fill: $sideBar-iconColor;
        width: 32px;
        height: 32px;

        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .title {
        padding-top: 5px;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $sideBar-iconColor;
    }
    button {
        justify-content: center;

        @include buttonReset;
        @include navbarItemHeight;

        border-top: 1px solid #5a5a5a;
        border-bottom: 1px solid #5a5a5a;
        @include hoveredElement;
    }
}
.main {
    grid-area: content;
}
