$searchField-color: #e8e3e3;
$sideBar-backgroundColor: #484848;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;
$sideBarHover-backgroundColor: #343434;

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin navbarItemHeight {
    height: 90px;
}
@mixin centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin hoveredElement {
    &:hover {
        background-color: $sideBarHover-backgroundColor;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        fill: $sideBarHover-iconColor;

        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

// @mixin link-hover {
//     &:hover {background-color: $sideBarHover-backgroundColor;}
// }

// For future reference to make the Header and Navbar responsive
// @mixin mQ($arg) {
//     @media screen and (max-width: $arg) {
//         @content;
//     }
// }
// @include mQ(600px) {
//     xxxx
// }

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas:    "header header"
                            "navbar content";
    grid-template-rows: 90px minmax(calc(100vh - 90px), auto);
    grid-template-columns: 90px;
}

.header {
    grid-area: header;
    background: linear-gradient(90deg, rgba(216,76,81,1) 0%, rgba(143,65,120,1) 100%);
    font-size: calc(20px + 1%);

    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        margin: 0;
        color: #fff;
    }
    .search-field {
        border-bottom: 2px solid $searchField-color;

        display: flex;
        align-items: center;
    }
    input {
        width: 28vw;
        height: 30px;
        font-size: 20px;
        color: $searchField-color;
        background: transparent;
        border:none;
        &:focus{
            outline: 0 none;
        }
        &::placeholder {
            color: inherit;
            font-size: 20px;
        }
    }
    a {
        width: 50px;
        height: 50px;
        cursor: pointer;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .search-icon {
        margin-right: 5px;
        -webkit-mask-image: url('./icons/search.svg');
        mask-image: url('./icons/search.svg');
        background-color: $searchField-color;
        width: 30px;
        height: 30px;
    }
    a:hover .search-icon {
        background-color:  #fff;
    }
}

.navbar {
    padding-top: 50px;
    grid-area: navbar;

    background-color: $sideBar-backgroundColor;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
        @include reset-list;
        margin-bottom: 90px;
    }
    li {
        @include navbarItemHeight;
        padding: 20px 0;
        cursor: pointer;

        @include centerElement;
        @include hoveredElement;
    }
    .link {
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-icon {
        @include centerElement;

        width: 36px;
        height: 36px;
    }
    svg {
        fill: $sideBar-iconColor;
        width: 32px;
        height: 32px;

        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .title {
        padding-top: 5px;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: $sideBar-iconColor;
    }
    button {
        @include navbarItemHeight;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: auto 0;

        justify-content: center;

        .title {
            letter-spacing: 2px;
        }
        @include hoveredElement;
    }
}

.main {
    grid-area: main;
}
