@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

$searchField-color: #e8e3e3;
$sideBar-backgroundColor: #484848;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;
$sideBarHover-backgroundColor: #343434;

$menuHover-backgroundColor: #252525;
$header-height: 93px;
$navbar-width: 90px;

@mixin resetList {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin buttonReset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
@mixin customFocus {
    &:focus {
        outline: 0 none;
        fill: #fff;
    }
}
@mixin navbarItemHeight {
    height: $navbar-width;
}
@mixin centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin svgChanging {
    fill: $sideBarHover-iconColor;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
@mixin hoveredElement {
    &:hover {
        background-color: $sideBarHover-backgroundColor;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        @include svgChanging;
    }
}
@mixin hoveredMenu {
    &:hover {
        background-color: $menuHover-backgroundColor;
    }
    &:hover .title {
        color: $sideBarHover-iconColor;
    }
    &:hover svg {
        @include svgChanging;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

* {
    box-sizing: border-box;
}
body {
    font-family: RobotoRegular;
}
/*
.navbar {
    position: fixed;
    height: calc(100vh - 93px); //93px is the height of the fixed header
    width: $navbar-width;
    background-color: $sideBar-backgroundColor;

    display: flex;
    flex-direction: column;
    @include mQ(750px) {
        display: none;
    }

    ul {
        @include resetList;
    }
    li {
        cursor: pointer;
        border-bottom: 1px solid #5a5a5a;

        @include navbarItemHeight;
        @include centerElement;
        @include hoveredElement;
        .active {
            background-color: $sideBarHover-backgroundColor;
            border-bottom: 1px solid #5a5a5a;
            .title {
                color: $sideBarHover-iconColor;
            }
            svg {
                @include svgChanging;
            }
        }
    }
    .link {
        text-decoration: none;
        width: 100%;

        @include navbarItemHeight;
        @include centerElement;
        flex-direction: column;

        &:focus {
            outline: none;
            -webkit-box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
            -moz-box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
            box-shadow: inset 0px 0px 45px 9px rgba(26,26,26,1);
        }
    }
    .menu-icon {
        width: 36px;
        height: 36px;

        @include centerElement;
    }
    svg {
        fill: $sideBar-iconColor;
        width: 32px;
        height: 32px;

        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .title {
        padding-top: 5px;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $sideBar-iconColor;
    }
    button {
        margin-top: auto;
        @include buttonReset;
        border-top: 1px solid #5a5a5a;
        @include hoveredElement;
    }
}

.footer {
    background: #272427;
    font-size: 8px;
    color: $sideBar-iconColor;

    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 70px 1fr 70px;

    @include mQ(750px) {
        // font-size: 6px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .credential-box {
        grid-column: 2;

        @include mQ(750px) {
            grid-column: 1;
        }

        span {
            margin-left: 10px;

            &:last-child {
                margin-right: 40px;
            }
        }
    }
}
*/