ul {
    background: #484848;
    list-style: none;
    
    li {
        padding: 20px;
        text-align: center;
        display: flex;

        .link {
            align-items: center;
            display: flex;

            .menu-icon {
                width: fit-content;
                margin: 0 auto;
    
                svg {
                    fill: #fff;
                    width: 30px;
                    height: 30px;
                }
            }
    
            .title {
                margin-left: 20px;
                color: #fff;
                font-size: 15px;
            }
        }
    }
}