@import "../../style/colors";
@import "../../style/mixins";

.not-found-page {
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #f7f14c;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    padding: 0 15px;
    display: flex;
    align-items: center;

    svg {
      box-sizing: content-box;
      fill: #fff;
      width: 20px;
      padding: 10px;
      margin-right: 5px;
      transition: fill .15s;
    }

    p { margin: 0; }

    &:hover {
      color: inherit;
      background: #d9d9d9;

      svg {
        fill: inherit;
      }
    }

    &:active svg { fill: white; }
  }

  img {
    height: 80vh;
    width: 100%;
    object-fit: contain;
    max-width: 500px;
  }
}
