@import '../../style/colors';
@import '../../style/mixins';

.su-filter-accordion.accordion {
    font-size: .7rem;
    width: 90%;
    margin: 0 auto 30px;

    .card {
        background: none;
        border: 1px solid #a5a5a5;

        .card-header {
            padding: 0;
            height: 50px;

            .btn {
                font-size: .8rem;
                width: 100%;
                height: 100%;
                border-radius: 0;
                text-align: left;
            }
        }

        .card-body {
            padding: 0;

            .filter-box {
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-template-rows: 3fr 1fr;
                color: $white;
                margin: auto;
                margin-bottom: 10px;
            
                .form-text {
                    text-align: center;
                }
            
                .form-group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    &.search-bar {
                        flex-wrap: wrap;
                        grid-column: span 2;
                        width: 100%;
                        margin: auto;
            
                        .search-field {
                            margin-bottom: 0;
            
                            @include maxQ(605px) {
                                // the label of the search field is a <small> tag
                                &+small {
                                    font-size: .7rem;
                                }
                            }
                        }

                        @include minQ(1500px) { width: 80%; }
                        @include minQ(1920px) { width: 60%; }
                    }
            
                    &.role-filter {
                        margin: auto;
                        width: 90%;
                        display: flex;
                        flex-wrap: nowrap;
            
                        .btn {
                            font-size: .8rem;
                            line-height: 1;
            
                            @include maxQ(870px) {
                                font-size: .7rem;
                            }

                            @include maxQ(400px) {
                                font-size: .6rem;
                            }
                        }
                    }
            
                    select {
                        color: $white;
                        background-color: $main-bg;
                        padding: 10px;
                        margin: 0 10px;
                    }
            
                    label {
                        margin: 10px;
                    }
                }
            
                .btn {
                    grid-column-start: 2;
                    width: 80%;
                    margin: auto;
                }
            
                @include maxQ(1110px) {
                    grid-template-rows: 4fr 3fr 1fr;
            
                    .role-filter, .reset-button {
                        grid-column: span 2;
                    }
            
                    .reset-button {
                        width: 40%;
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    @include maxQ(767px) {
        width: 100%;
    }
}


table.table {
    font-size: .8rem;
    width: 90%;
    margin: auto;

    .role-icon-column {
        padding: 0;
        vertical-align: middle;
        text-align: center;
        min-width: 40px;
    }

    .delete-icon-column {
        width: 20px;
    }

    tbody tr:first-child td {

        .add-member-btn {
            font-size: inherit;
            width: 100%;
            height: 49px;
            display: flex;
            align-items: center;
            border-radius: 0;

            svg {
                width: 1rem;
                margin-right: 10px;
            }
        }
    }

    td {
        vertical-align: middle;
        
        &.role-cells {
            padding: 0;
            text-align: center;

            svg {
                display: inline-block;
                width: 1rem;
                margin: 3px;
                fill: $white;

                @include maxQ(767px) {
                    width: .7rem;
                    margin: 2px;
                }
            }
        }

        &.delete-icon-cell {
            padding: 0;
        }

        &>button {
            border-radius: 0;
            border: none;
            height: 47px;

            .delete-user {
                width: .9rem;
                fill: $white;
            }
        }
    }

    @include maxQ(767px) {
        width: 100%;
        font-size: .6rem;
    }
}
