@import '../../style/colors';
@import '../../style/mixins';

#sidenav{
    position: fixed;
    top: $header-height;
    width: $navbar-width;
    height: calc(100vh - 93px);

    background-color: $sideBar-bg;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.749);
    @include noScroll;

    @include maxQ(767px) { //below 767px screen size, no side navigation bar
        display: none;
    }

    .wrapper {
        display: flex;
        position: absolute;
        left: 0;
        transition: left 0.4s;

        .main-menu, .sub-menu {
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
                width: $navbar-width;
                height: $navbar-width;

                display: flex;
                text-align: center;
                button {
                    @include buttonReset;
                    align-items: center;
                }
                .active {
                    background-color: $navBarActive;
                    .title {
                        color: $sideBarHover-iconColor;
                    }
                    svg {
                        @include svgChanging;
                    }
                }
                .link {
                    @include centerElement;
                    flex-direction: column;
                    width: $navbar-width;
                    .menu-icon {
                        @include centerElement;
                        width: 50px;
                        height: 50px;
                    }
                    svg {
                        fill: $sideBar-iconColor;
                        width: 30px;
                        height: 30px;
                    }
                    .title {
                        padding: 0 5px;
                        color: $sideBar-iconColor;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    @include hoveredElement;
                }
                .sub-link {
                    width: $navbar-width;
                    .sub-title {
                        @include centerElement;
                        flex-direction: column;
                        width: $navbar-width;
                        height: $navbar-width;
                        color: $sideBar-iconColor;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        &:hover {
                            text-decoration: none;
                            background-color: $sideBarHover-bg;
                            color: $sideBarHover-iconColor;
                            font-size: 13px;
                        }
                    }
                }
            }
            #logout-li {
                margin-top: auto;
            }
        }
    }

    .show-submenu{
        left: -110px;
    }
}

#hamburger{
    position: relative;
    min-height: 720px;

    background-color: $sideBar-bg;

    @include noScroll;

    .wrapper {
        display: flex;
        position: absolute;
        left: 0;
        transition: left 0.4s;

        .main-menu, .sub-menu {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                height: 80px;
                border-bottom: none;
                border-top: 1px solid $sideBar-border;
            }
            .link {
                width: 60vw;
                padding: 0 0 0 26%;
                @include maxQ(525px) {
                    padding: 0 0 0 16%;
                }
                flex-direction: row;
                justify-content: flex-start;
                &:hover {
                    border-bottom: none !important;
                }
                .title {
                    margin-left: 20px;
                }
                .menu-icon {
                    @include centerElement;
                    width: 50px;
                    height: 50px;
                }
                svg {
                    fill: $sideBar-iconColor;
                    width: 30px;
                    height: 30px;
                }
                .title {
                    padding: 0 5px;
                    color: $sideBar-iconColor;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                &:hover {
                    text-decoration: none;
                }
                @include hoveredElement;
            }
        }
    }
    .show-submenu{
        left: -60vw;
    }
}
