$searchField-color: #fff;
$sideBar-iconColor: #c9c9c9;
$sideBarHover-iconColor: #fff;

@mixin customFocus {
    &:focus {
        outline: 0 none;
        fill: #fff;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin buttonReset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-field {
    border-bottom: 1px solid $searchField-color;
    display: flex;
    align-items: center;
    font-size: 12px;
    width: fit-content;

    input {
        max-width: 28vw;
        height: 30px;
        color: #fff;
        background: transparent;
        border:none;
        letter-spacing: 1px;
        &:focus{ outline: 0 none; }
        &::placeholder {
            color: inherit;
            font-family: RobotoRegular;
        }
    }
    button {
        width: 48px;
        height: 48px;
        fill: $sideBar-iconColor;
        @include buttonReset;
        svg {
            width: 36px;
            height: 36px;
        }
        &:hover {
            fill: $sideBarHover-iconColor;
        }
        @include customFocus;
    }
}